		body{
			min-width: 320px;
			width: 100%;
			background-image: url(https://github.com/hustast/HustAvatar/blob/master/img/BG2.jpg?raw=true);
			background-repeat: no-repeat;
			background-size: 100% 100%;
			background-position: center top;
			
			scroll-behavior: no;
			overflow-x:hidden;
		}
		/* 		进度条*/		
		.loading{
			width: 100%;
			height: 100%;
			position: fixed;
			top: 0;
			left: 0;
			z-index: 100;
			background-color: #fff;

		}
		.loading .pic{
			height: 100px;
			width: 100px;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;
			background-color: ;
		}
		.loading .pic i{
			display: block;
			float: left;
			width: 16px;
			height: 100%;
			background-color: #395;
			margin-left: 4px;
			transform: scaleY(0.4);
			animation: load 1.5s infinite;
		}
		.loading .pic i:nth-child(1){}
		.loading .pic i:nth-child(2){animation-delay:0.3s;}
		.loading .pic i:nth-child(3){animation-delay:0.5s;}
		.loading .pic i:nth-child(4){animation-delay:0.7s;}
		.loading .pic i:nth-child(5){animation-delay:0.9s;}
			
		@keyframes load{
			0%,40%,100%{ transform: scaleY(0.4); }
			20%{transform: scaleY(1);}
		}
		.heading {
				margin-top: 10em;
			    text-align: center;
			    margin-right:  auto;
			    margin-left: auto;
			    
			    padding-bottom: 2em;
			    max-width: 85%;
			    font-weight: 900;
			}
		.footer{
			    margin-top: 100px;
			    margin-left: auto;
			    margin-right: auto;
			    margin-bottom: 0px;
			    height:30px;
			    text-align: center;
			    font-size: 8px;
		}
		/* 预览盒子 */
		.prev-div{
			width:320px;
			margin-right: auto;
			margin-left: auto;
		}
		.footer-div{
		    margin-bottom:  0px;
		    color: #fff;
		    background-color: #600808;
		    width: 0 auto;
		}

		.heading-title{
			color: #fff;
			 border-radius: 10px;
			 height: 50px;
		}
		.model{
			width: 240px;
			margin-top: 20px;
		    margin-left: auto;
		    margin-right: auto;
		    border-radius: 6px;
		    height: 240px;
		}
		.btn-model {
		    margin: 2px 10px;
		    min-height: 100px;
		    max-width: 100px;
		    background-color: #FFF;
		    border: none;
		    background-size: auto 80%;
		    background-repeat: no-repeat;
		    background-position: center center;
		    display: inline;
		}
		.btn-r {
		    color: rgb(174, 10, 42);
		    background-color: rgba(174, 10, 42,.2);
		    border-color: rgba(174, 10, 42,.5);
		}

		.hidden {
		    display: none;
		}

		.imgPreview {
		    overflow: hidden;
		}

		.preview {
		    margin-left: auto;
		    margin-right: auto;
		    padding: 100px;
		}

		.chooseimg {
		    margin: 0px;
		    padding-top: 4%;
		}

		.img-group {
		    margin-left: 0px;
		    padding-left: 0px;
		}

		#imgpreview {
		    width: 150px;
		}
		/* 大屏显示器 */
		@media screen and (min-width:415px ){
			body{
				min-width: 360px;
				background-image: url(https://github.com/hustast/HustAvatar/blob/master/img/BG2.jpg?raw=true);
				background-repeat: no-repeat;
				background-size: 755px 100%;
				background-position: center top;
				
				scroll-behavior: no;
				overflow-x:hidden;
			}
			.prev-div{
				width:360px;
				margin-right: auto;
				margin-left: auto;
			}
			.model{
				width: 280px;
			    margin: 10px auto;
			    
			    border-radius: 6%; 
				height:280px;
			}
		
			.btn-model {
			    margin: 34px 10px;
			    min-height: 120px;
			    max-width: 120px;
			    background-color: #FFF;
			    border: none;
			    background-size: auto 90%;
			    background-repeat: no-repeat;
			    background-position: center center;
			    display: inline;
			}
			.header{
			    background-color: #600808;
			    width: 0 auto;
			}
		
			.heading {
				margin-top: 10em;
			    text-align: center;
			    margin-right:  auto;
			    margin-left: auto;
			    
			    padding-bottom: 2em;
			    max-width: 85%;
			    font-weight: 900;
			}
			/* .chooseimg{
				width: 100px;
				margin-left: auto;
				margin-right: auto;
			} */
			.footer-div{
			    margin-bottom:  0;
			    margin-right:  auto;
			    margin-left: auto;
			    color: #fff;
			    background-color: #600808;
			    max-width: 755px;
			}
		}
		/* 小屛手机 */
		@media screen and (max-width: 320px) {
			.btn-model {
			    margin: 5px 10px;
			    min-height: 100px;
			    max-width: 100px;
			    background-color: #FFF;
			    border: none;
			    background-size: auto 80%;
			    background-repeat: no-repeat;
			    background-position: center center;
			    display: inline;
			}
			.prev-div{
				width: 300px;
				margin-right: auto;
				margin-left: auto; 
				
			}
			.model{
				height: 240px;
			}
			.heading {
				margin-top: 10em;
			    margin-left: auto;
			    margin-right: auto;
			    padding-bottom: 2em;
			    max-width: 85%;
			    background-image: url(http://sinacloud.net/illuminatorslab/ruc80/heading-bg.png);
			    background-size: 100%;
			    background-repeat: no-repeat;
			    background-position: center center;
			    min-height: 17%;
			}
		}
		/* 		max-width:555px;*/		
		