body {
    margin-top: 0%;
    background-image: url('../img/bd-su.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    font-family: "Microsoft Yahei","Times New Roman",Georgia,Sans-Serif;
}

/*　头部　*/
#img-head {
    margin-left: 100px;
    margin-bottom: 20px;
}

.header{
    background-color: #600808;
    width: 0 auto;
}

.heading {
    text-align: center;
    margin-right:  auto;
    margin-left: auto;
    margin-top: 50px;
    padding-bottom: 2em;
    max-width: 85%;
    font-weight: 900;
}
/*mode 组　*/
.model-group {
    /*居中*/
    margin: 0px auto;
    /*边框*/
    border-radius: 6px;
    /*border: solid;*/
}

.btn-model {
    margin: 10px 0%;
    min-height: 120px;
    min-width:  120px;
    background-color: #FFF;
    border: none;
    background-size: auto 80%;
    background-repeat: no-repeat;
    background-position: center center;
    display: inline;
}

.btn-r {
    color: rgb(174, 10, 42);
    background-color: rgba(174, 10, 42,.2);
    border-color: rgba(174, 10, 42,.5);
}

.hidden {
    display: none;
}

.imgPreview {
    /*background-color: #FFF;*/
    overflow: hidden;
    padding: 0px 0px;

}

.preview {
    margin-left: auto;
    margin-right: auto;
    padding: 100px;
}

.chooseimg {
    margin: 0px;
    margin-left: 30%;
    padding-top: 4%;
}

.img-group {
    margin-left: 0px;
    padding-left: 0px;
}

#imgpreview {
    background-color: #FFF;
    margin-left: 0px;
    width: 200px;
    margin-right: 0px;
}


.img-bottom {
    margin: 20px;
    margin-left: 100%;
    max-width:  300px;
    max-height: 300px

}


/* 尾部　*/
.footer{
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    height:30px;
    text-align: center;
    font-size: 14px;
    color: #3F3B3B;
}

.footer-div{
    margin-bottom:  0px;
}

.container-test {
    max-width: 300px;
    margin: 20px auto;
    max-height: 400px;
}
#image-upload{
    max-width: 100%;
}



